.main-header{
    background: rgb(0,153,198);
    background: linear-gradient(180deg, rgba(0,153,198,1) 0%, rgba(0,199,178,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.main-menu{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin-top:5px;
}

.header-nav ul{
    display: flex;
    list-style: none;
    margin: 0 37px;
    padding: 0;
}

.header-nav li{
    margin: 0 20px;
    padding: 20px 0;
}

.header-nav li:first-child{
    margin-left:0 ;
}

.header-nav li:last-child{
    margin-right: 0;
}

.header-nav li:hover{
    background-color: #93DB70;
}

.header-nav a{
    color: #fff;
}

.text-header{
    display: flex;
    padding-top: 100px;
    width: 1100px;
}

.text-header h1 {
    color: #fff;
}
.text-header p {
}

.text-header-image {
    position: absolute;
    right: 0;
    margin-right: 50px;
}

.header-column {
    width: 50%;
    position: relative;
}

/*Colocar text-information text-icons*/